body{
  font-family:Arial;
  background:#0d0d0d;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.box{
  background:#1b1b1b;
  padding:30px;
  border-radius:14px;
  width:360px;
  text-align:center;
}

input{
  padding:8px;
  font-size:18px;
  text-align:center;
  width:120px;
  margin:6px;
}

button{
  padding:8px 14px;
  margin:6px;
  font-size:15px;
  cursor:pointer;
}

.timer{
  font-size:22px;
  color:#00ffb3;
  margin:8px;
}

.log{
  margin-top:12px;
  text-align:left;
  max-height:200px;
  overflow:auto;
}
